# Open-source flow
work/

# Simulation
__pycache__/
sim_build/

# Gowin flow
impl/
ghost_sd.gprj.user

# Xilinx flow
ghost_sd.cache/
ghost_sd.hw/
ghost_sd.gen/
ghost_sd.runs/
ghost_sd.sim/
.Xil
*.jou
*.log

# Diagrams
*.bkp
*dtmp

