# Open-source flow
work/
abc.history

# Simulation
__pycache__/
sim_build/

# hdlmake
platform/**/*.*
platform/**/synthesize*
platform/**/par*
platform/**/bitstream*
platform/**/project*
platform/**/Makefile
!platform/**/Manifest.py
!platform/**/constr/*.cst
!platform/**/constr/*.sdc
!platform/**/constr/*.xdc
!platform/**/core/*/*.ipc
!platform/**/core/*/*.mod
!platform/**/core/*/*.xci
!platform/**/rtl/*.v
!platform/**/rtl/*.sv

# Diagrams
*.bkp
*dtmp

