# System clock (36 MHz)
set_io iclk D1

# Buttons
set_io irst_n A3 # Reset
set_io istart_n B3 # Start

# SD interface
set_io oclk_sd E3
set_io iocmd_sd B5
set_io iodata_sd[0] E1
set_io iodata_sd[1] C2
set_io iodata_sd[2] B4
set_io iodata_sd[3] C6

# Status
set_io osuccess B6 # LED
set_io ofail F5
